@import "tailwindcss";

@theme {
  --color-telkom-bg: #FFFFFF;
  --color-telkom-navy: #002D62;
  --color-telkom-red: #E60000;
  
  --color-background: var(--color-telkom-bg);
  --color-foreground: #171717;
}

@layer base {
  body {
    background-color: var(--color-background);
    color: var(--color-foreground);
    font-family: Arial, Helvetica, sans-serif;
  }
}
